@{
    ViewData["Title"] = "Chromium Repro - Index";
}

<form method="post" role="form" asp-area="" asp-action="Print" asp-controller="Home" target="_blank">
    <button type="submit">Print</button>
</form>